/3 PEG.mp3
/Bhul Jayi Na (Full Song)  Sharry Maan  Latest Punjabi Song 2017  Speed Records.mp3
/Boomerang.mp3
/Chandigarh Waliye.mp3
/Cute Munda.mp3
/Hostel.mp3
/Saade Aala.mp3
/SHARRY MANN  Superhit Songs  Punjabi Songs 2023  Jukebox  Romantic Songs  Guru Geet Tracks.mp3
/Sohne Mukhde Da.mp3
/Vadda Bai.mp3
/Yaar Anmulle - Radio Edit.mp3